.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#thermalPrinter {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  font-size: 2rem;
  padding: 1rem 2rem;
}

.status-label {
  margin: 1rem 0;
}
